# Server Configuration
PORT=4000
NODE_ENV=development 
JWT_SECRET=change_this_to_a_robust_random_secret_string
FRONTEND_URL=http://dummyurl.com # change this only in production
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MS=3600000

# MongoDB Credentials
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=yourmongopassword
MONGO_PORT=27017

# Application Connection String
# the connection string must be in format mongodb://<username>:<password>@localhost:<port>/<database>?authSource=admin
MONGO_URI=mongodb://admin:yourmongopassword@localhost:27017/blogging_db?authSource=admin